[Unit]
Description=xMixing Application Auto Start
After=network.target docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=x-root
WorkingDirectory=/home/x-root/xApp/x2612001-mitrPhol-r01
ExecStart=/bin/bash /home/x-root/xApp/x2612001-mitrPhol-r01/start-app.sh
ExecStop=/bin/bash /home/x-root/xApp/x2612001-mitrPhol-r01/stop-app.sh

[Install]
WantedBy=multi-user.target
