version: '3.8'

services:
  testing-db:
    image: mariadb:latest
    container_name: xmixing-testing-db
    environment:
      - MARIADB_ROOT_PASSWORD=admin100
      - MARIADB_DATABASE=xMixingControl
      - MARIADB_USER=mixingcontrol
      - MARIADB_PASSWORD=admin100
    ports:
      - "3307:3306"
    volumes:
      - ./data:/var/lib/mysql
    restart: unless-stopped
    networks:
      - testing-net

  adminer:
    image: adminer:latest
    container_name: xmixing-db-ui
    ports:
      - "8080:8080"
    environment:
      - ADMINER_DEFAULT_SERVER=testing-db
      - ADMINER_DESIGN=dracula
    depends_on:
      - testing-db
    restart: unless-stopped
    networks:
      - testing-net

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: xmixing-phpmyadmin
    ports:
      - "8081:80"
    environment:
      - PMA_HOST=testing-db
      - PMA_PORT=3306
      - PMA_USER=mixingcontrol
      - PMA_PASSWORD=admin100
    depends_on:
      - testing-db
    restart: unless-stopped
    networks:
      - testing-net

networks:
  testing-net:
    driver: bridge
